/** Colores a usar 
#401F71
#824D74
#BE7B72
**/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #401F71;
}

/* Nav Header */

.principalnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font: Helvetica;
    height: 100%;
    width: 100%;

}
.logoprinci{
    padding-left: 25px;
    height: 100px;
}
.secciones li{
    display: inline-block;
    text-align: center;
    height: 100px;
    font-size: 20px;
    margin-top: 70px;
    padding: 7px;

}
.secciones li a{
    color: #BE7B72;
}




/* INDEX */



.pagprincipal{
    color: white;
    font: helvetica;
}
.pagprincipal img{
    width: 100%;
    height: 100%;
}
.sponsors{
    color: white;
    font: helvetica;
}
.sponsors h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hr1{
    margin-top: 50px;
}
.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(200px * 7);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}
.contacto{
    color: white;
    text-align: center;
    font: helvetica;
    margin-top: 100px;
    margin-bottom: 100px;
}

.mb-3{
    margin-left: 700px;
    margin-right: 700px;
}
.form-text{
    color: white;
}
.contacto h2{
    margin-bottom: 15px;
}
.email1{
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 800px;
    margin-right: 800px;
}
.contacto h3{
    margin-top: 15px;
}




/* PRODUCTOS */

.productosmain{
    font: helvetica;
}

.titulo-product{
    text-align: center;
}

.productos2{
    display: grid;
    grid-template-columns: repeat(2,900px) ;
    grid-template-rows: repeat(2,900px);
    grid-template-areas: 
    "product1 product2"
    "product3 product4" 
    ;
    justify-content: center;
    align-content: center;
}

.grid .product1{
    grid-area: product1;
}

.grid .product2{
    background-color: white;
    grid-area: product2;

}
.grid .product3{
    grid-area: product3;
}
.grid .product4{
    grid-area: product4;
}

.product1{
    margin-left: 20px;
}
.product2{
    margin-left: 40px;
    margin-right: 40px;
    

}

.product3{
    
}


/* NOSOTROS */
.nosotros1{
    text-align: center;
    font: helvetica;
    font-size: 30px;
    color: white;
}
.nosotros1 h1{
    font-size: 40px;
}
.imagenesnosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* TIENDA */
.productostienda{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.products-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
   
}
.container-card{
    width: 380px;
    height: 650px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px white;

}
.container-card h2{
    color: white;
    font-size: 20px;
}
.container-card p{
    font-size: 11px;
    color: white;
}
.container-card button{
    color: black;
    background-color: #824D74;
}
.container-card div{
    width: 100%;
    height: 80%;
   
}
.container-card div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* CONTACTO */

.titulocontacto{
    font: helvetica;
    text-align: center;
}

.contactenosmap{
    font: helvetica;
    color: white;

}


.formularios{
    color: white;
    font: helvetica;
}
.botonenvform{
    background-color: white;
    font: helvetica;
    color: black;
}


/* Pie de pagina */
.piepag{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;

}
.piepag ul{
    list-style-type: none;
}
.piepag h3{
  margin-top: 10px;
}
.piepag h2{
    margin-top: 10px;
   padding-right: 70px;
   margin-right: 70px;
}

.redesfooter {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 15px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


/* Media queries */

/* media index */
@media (max-width:1440px){
    .secciones li{
         height: 100px;
         font-size: 16px;
         margin-top: 70px;
        padding: 4px;
    }
    .sponsorslogo{
        gap: 30px;
    
    }

}

@media (max-width:1024px){
    .principalnav{
        display: flex;
        align-items: none;
    }
    .secciones{
        display: flex;
        font-size: 10px;
        gap: 10px;
        margin-right: 100px;
    }
   .logoprinci{
        height: 50%;
        width: 50%;
    }
    .contacto h2{
        font-size: 25px;
    }
    .contacto h3{
        font-size: 20px;
    }
}

@media (max-width:768px){
    .principalnav{
        flex-direction: column;
        align-items: center;
    }
    .logoprinci{
        height: 40%;
        width: 70%;
        margin-left: 110px;
    }
    .secciones{
        gap: 5px;
        margin-left: 80px;
    }
    .secciones li a{
        font-size: 18px;
    }
    .contacto h2{
        font-size: 24px;
    }
    .contacto h3{
        font-size: 18px;
    }
    .piepag h3{
        font-size: 16px;
    }
    .piepag h2{
        padding-left: 80px;
        font-size: 20px;
    }

}

@media (max-width:428px){
    .logoprinci{
        align-items: center;
        height: 40%;
        width: 300px;
        margin-right: 130px;
    }
    .secciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .secciones li{
        margin-top: 1px;
    }
    .secciones li a{
        font-size: 16px;
    }
    .contacto{
        margin-left: 10px;
    }
    .contacto h2{
        font-size: 20px;
    }
    .contacto h3{
        font-size: 16px;
    }

    .piepag{
        flex-direction: column;
    }

    .piepag h3{
        font-size: 14px;
        margin-left: 90px;
        margin-bottom: 1px;
    }
    .piepag h2{
        font-size: 14px;
        margin-left: 90px;
        margin-top: none;
    }
    .redesfooter{
        margin-right: 40px;
    }

}
@media (max-width:375px){
    .logoprinci{
        height: 40%;
        width: 200px;
        margin-right: 120px;

    }
    .secciones{
        padding-top: 1px;
    }
    .secciones li a {
        font-size: 12px;
    }
    .contacto h2{
        font-size: 16px;
    }
    .contacto h3{
        font-size: 12px;
    }

    .piepag h3{
        font-size: 12px;
        width: 70%;
        margin-left: 70px;

    }
    .piepag h2{
        font-size: 12px;
        margin-left: 70px;
    }


}

@media (max-width:320px){
    .logoprinci{
        height: 30%;
        width: 150px;
    }
    .secciones li a{
      font-size: 10px;
    }
    .contacto h2{
        font-size: 12px;
    }
    .contacto h3{
        font-size: 10px;
    }
    .form-text{
        font-size: 12px;
    }
    .piepag h3{
        margin-left: 40px;
    }
    .piepag h2{
        margin-left: 40px;
    }
}

/* media nosotros */

@media (max-width:1440px){
.nosotros1{
    font-size: 30px;
}
.nosotros h1{
    font-size: 20px;
}
}

@media (max-width:1024px){
    .nosotros1{
        font-size: 32px;
    }
    .nosotros1 h1{
        font-size: 36px;
    }
}

@media (max-width:768px){
    .nosotros1{
        font-size: 26px;
    }
    .nosotros1 h1{
        font-size: 30px;
    }
}

@media (max-width:428px){
    .nosotros1{
        font-size: 16px;
    }
    .nosotros1 h1{
        font-size: 24px;
    }
}

@media (max-width:375px){
    .nosotros1{
        font-size: 14px;
    }
    .nosotros1 h1{
        font-size: 18px;
    }

}

@media (max-width:320px){
    .nosotros1{
        font-size: 12px;
    }
    .nosotros1 h1{
        font-size: 16px;
    }
}