@media (max-width:1024px){
    header{
        
    }
    main{
        .sponsors{
            h2{
                font-size: 30px;
            }
        }
        .contacto{
            h2{
                font-size: 30px;
            }
            h3{
                font-size: 26px;
            }
        }
    }
}