@media (max-width:1440px){
main{
    .product2{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
    .product3{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }

    // tienda
    .container-card{
        width: 380px;
        height: 700px;
        p{
            margin-bottom: 20px;
        }
        .button{
            margin-left: 140px;
        }
    }

    // contactenos
    .contactodiv{
        .contactenos1{
            iframe{
                width: 600px;
                height: 450px;
            }
        }
    }


}
}