@media (max-width:1440px){
main{
    .product2{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
    .product3{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }

}
}