@media (max-width:375px){
    main{
        // nosotros
        .nosotros1{
            h1{
                font-size: 20px;
            }
            p{
                font-size: 16px;
            }
        }
    }

    // Tienda
    .container-card{
        width: 280px;
        height: 700px;
        margin-left: 5px;
        margin-right: 5px;
        h2{
            font-size: 16px;
        }
        p{
            font-size: 16px;
        }
        .button{
           
        }
        
    }
}