footer{
    border-top: 3px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    font: helvetica;
    h3{
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
    h2{
        font-size: 30px;
        margin-right: 90px;
        margin-top: 8px;
    }
    .redesfooter{
        display: flex;
        gap: 14px;
        margin-right: 20px;
        list-style-type: none;
    }
}