main{
    .pagprincipal{
        color: white;
        font: helvetica;
        img{
            width: 100%;
            height: 100%;
            border-bottom: solid 2px white;
        }
    }
    .sponsors{
        color: white;
        font: helvetica;
        margin-top: 20px;
        border-bottom: 2px solid white;
        padding-bottom: 30px;
        h2{
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            border-top: 2px solid white;
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .slider{
            border-top: 1px solid #BE7B72;
            border-bottom: 1px solid #BE7B72;
            width: 75vw;
            height: auto;
            margin: auto;
            overflow: hidden;
            .slide-track{
                display: flex;
                animation: scroll 20s linear infinite;
                -webkit-animation: scroll 20s linear infinite;
                width: calc(200px * 7);
            }
            .slide{
                width: 200px;
                img{
                    width: 40%;
                }
            }
        }
    }

    .contacto{
        color: white;
        text-align: center;
        font: helvetica;
        margin-top: 100px;
        margin-bottom: 100px;
        .form-text{
            color: white;
        }
        button{
            color: white;
            background-color: #824D74;
        }
    }
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-200px * 7));
            transform: translateX(calc(-200px * 7));
        }
    }
}